a {
	color: $color__link;
	text-decoration: none;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
	&:hover {
		text-decoration: underline;
	}
}

/* Ser links in text to be slightly more bold */
.entry-content a {
	font-weight: $font__weight-a-body;
	font-decoration: underline;
}