/* @TODO - if 1em is 20 px, change all ems to px*/

.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 30px;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 30px 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 30px;
}

/* hide the entry footer */
.post {
	margin: 0;
}

/* front-page */
#featured-image-as-main-background {
	height: 1024px;
	width: 768px;
}

/* SINGLES */

/* line spacing on single posts, pages */
.single .entry-content p,
.page .entry-content p { 
	margin-top: 15px;
	margin-bottom: 15px;
}

.entry-content a {
	font-weight: 300;
}


/* POSTS */
.hold-thumbnail img {
}

/* POSTS IMAGES */

/* Post image inside a post*/
.post .post-thumbnail img {
	object-fit: cover;
	width: 100%;
	max-width: 100%;
	height: auto;
}

/* remove space between images */
.wp-block-image {
	line-height: 0;
	margin: 0;
}

.wp-block-image img {
    object-fit: cover;
    width: 100%;
    max-width: 100%;
    height: auto;
}


/* POSTS TEXT */

/* tagline and post authors */
.post-tagline {
	font-style: italic;
	font-size: 12px;
}

.post-tagline > p {
	margin: 10px 0px 0px 20px;
}

/* POST TITLE */
.entry-title {
	margin-bottom: 0;
}

/* tagline and post authors */
.post-tagline {
	font-style: italic;
	font-size: 12px;
}

.post-tagline > p {
	margin: 10px 0px 0px 20px;
}

/* POST CONTENT */
.entry-content {
	margin: 0em;
	font-size: 14px;
}

/* thin text for body content*/
.entry-content, .wp-block-table {
	font-weight: 200;
}

.entry-content > p {
	margin: 20px;
}

/* Full the entire width of the page, keep aspect ratio */
.post-previews .attachment-post-thumbnail {
	object-fit: cover;
  	width: 100%;
 	max-width: 100%;
	height: auto;
}

.post-previews .entry-title {
	text-align: right;
	margin: 0;
	text-transform: uppercase;
}

.post-previews .entry-taxonomies {
	margin: 0;
	line-height: 0.75;
	
	font-weight: 200;
	text-transform: uppercase;
}

.post-preview-container {
	margin: 20px 20px 60px 0; /*use a variable to make sure the margin is the same for the menu, title, and content */
}

.post-preview-container .entry-taxonomies {
	text-align: right;
}

/* Title of the post entry */
.entry-title {
	margin: 30px 0px 0px 20px;

	text-transform: uppercase;
}

/* 
 * = = = = *
 *  VIDEO  *
 * = = = = *
 */

/* The first selector is without Jetpack, the second selector with the children is for Jetpack */

/*The magic padding number you create for the container needs to match the aspect ratio of the video. If you inspect the video on vimeo, the res is 1296x540. To get the aspect ratio percentage, divide 360 / 640 * 100% = 56.25% padding.*/

.featured-video-wrapper,
.featured-video-wrapper > .jetpack-video-wrapper > .embed-vimeo {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  background: black;
}

/* this works in the customizer, but not in css sheet */
.featured-video-wrapper iframe,
.featured-video-wrapper > .jetpack-video-wrapper > .embed-vimeo > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* POSTS VIDEO */

.wp-block-embed-vimeo > .wp-block-embed__wrapper {
	position: relative;
  	padding-bottom: 56.25%; /* 16:9 */
  	height: 0;
  	background: black;
}

.wp-block-embed-vimeo > .wp-block-embed__wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/* END VIDEO */


.entry-content p,
.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4 {
	margin: 0 20px;
}

.entry-content table, {
	margin: 0 20px;
	overflow: hidden;
}

/* Releases page */
.posts-grid-flex-container {
	display: flex;
	flex-wrap: wrap;
	min-width: 100%;
}

.release-post {
	max-width: 31vw;
	padding: 10px;
	float: left;
}

.release-post .post-thumbnail-container {
}

.release-post header > h1{
	margin: 0;
	padding: 0;
	text-align: right;
	text-transform: uppercase;
}


.release-post .entry-content {
	margin: 0;
	padding: 0;
	text-align: right;
	font-weight: 200;
}

.release-post .post-thumbnail-container img {
	object-fit: cover;
	height: 31vw; /* use a variable */
}

.release-post .entry-header {
	margin-top: 25px;
	font-size: 10px;
}

.post-thumbnail img {
	transition: filter 0.075s ease-in-out;
}

.post-thumbnail img:hover {
  filter: none ;
  -webkit-filter: opacity(80%);
}

.release-post .entry-content p {
	margin: 0 0;
}

.entry-footer {
	margin: 1em 0;
	text-align: right;
}

.footer-top-spacer {
	height: 10px; /* Same as side margin*/
}

.footer-bottom-spacer {
	height: 80px;
}

/* END POSTS */

/* SERVICES */
article.category-services {
	max-width: 48vw;
	float: left;
	margin: 0.4em;
}



/* Fix line height between terms on service page  */
article.category-services .preview-post-terms-list {
	line-height: 1.25em;
}

/* MEDIA */
@media screen and (min-width: 10em) {

	.release-post {
		max-width: 100vw;
	} 
	
	.release-post .post-thumbnail-container img {
		height: 100vw; /* use a variable */
	}
	
	/* post content */
	.entry-title {
		font-size: 24px;
	}
	
}

@media screen and (min-width: 33.375em) {

	.release-post {
		max-width: 48vw;
	} 
	
	.release-post .post-thumbnail-container img {
		height: 48vw; /* use a variable */
	}
	
}

@media screen and (min-width: 48em) {
	
	.release-post {
		max-width: 32vw;
	} 
	
	.release-post .post-thumbnail-container img {
		height: 32vw; /* use a variable */
	}
}

@media screen and (min-width: 64em) {

	.release-post {
		max-width: 24vw;
	} 
	
	.release-post .post-thumbnail-container img {
		height: 24vw; /* use a variable */
	}
}
@media screen and (min-width: 72em) {
}

@media screen and (min-width: 80em) {
}

@media screen and (min-width: 85em) {
}

@media screen and (min-width: 90em) {
}
