/* FOOTER */

.site-footer {
	background-color: black;

	height: 100vh;
    background-color: #1a1a1a;
    color: #b3b3b3;

	padding: 0 $padding__side; /* Should be a variable for content*/
}

.site-footer a {
    color: #b3b3b3;
}

#footer-description {
	font-size: 1em;
	font-weight: 200; 
	
	letter-spacing: 0.1em;
}

/* footer title */
#footer-site-title {
	font-size: 0.25em;
	margin-top: $margin__side;
	letter-spacing: 0.2em;
	line-height: 4em;
}

#footer-site-title a {
	font-size: 4em;
	text-transform: uppercase;
	color: #ccc;
}

footer li a {
	color: white;
}

footer  {
	color: white;
}

/* overrides sass/layout/_header.scss:.menu */
footer .menu {
	margin: 0px;
    text-transform: uppercase;
    font-size: 0.75em;
}

/* Widget Area */

.top-footer-widget-2 {
}

/* line in the footer */
hr {
    display: block;
    height: 1px;
    border: 0;
    padding: 0;
}

.bottom-footer-widget {
    margin: $margin__side/2 0px;
	font-weight: 200;
}

/* Social media jetpack widget */ 
.jetpack_widget_social_icons {
	margin: $margin__side 0px;
}

.jetpack-social-widget-item:first-child {
	margin-left: 0px;
}

.jetpack-social-widget-item:last-child {
	margin-right: 0px;
}

.jetpack-social-widget-item {
	margin: 0px 5px;
}

/* custom html widgets */
.textwidget {
	font-size: 14px;
}

.textwidget > *{
	display: block;
	font-weight: 200;
}

.horizontal-line > hr {
	margin-right: -$margin__side;
}

/* add space between bottom widgets and the line */
.bottom-widget-area {
	margin: 20px 0px;
}

/* footer menu in a row */
.site-footer .menu > li {
	display: inline;
	font-weight: 400;
}

/* Add bars between elements */
.site-footer .menu > li + li::before {
	content: " | ";
	margin: 0px 5px;
}